.home-list {
  margin-top: 40px;
  background-color: #f4f4f4;
}
.top-header {
  width: 750px;
  padding-bottom: 6px;
}
.header-text {
  text-align: center;
  color: #fff;
  width: 750px;
  padding: 10px;
  font-size: 36px;
}
.header_txt_des {
  text-align: center;
  color: #999;
  padding: 6px;
  font-size: 30px;
  width: 750px;
}
.header_image {
  width: 750px;
  height: 500px;
}
.header_txt_author {
  width: 750px;
  height: 66px;
  text-align: center;
  padding-top: 16px;
  color: #999;
  font-size: 30px;
}
.slogn {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
.text_gray1 {
  font-size: 26px;
  color: #999;
  margin-left: 20px;
}
.text_gray2 {
  font-size: 26px;
  color: #999;
  margin-right: 20px;
}

